<form [formGroup]="myForm" class="ui form" (ngSubmit)="onSubmit(myForm.value)" [class.error]="!myForm.valid && myForm.touched">
  <div class="cntr">
    <div class="cntr-innr" [class.error]="!sku.valid && sku.touched">
      <label class="search" for="inpt_search">
        <input type="text" id="inpt_search" name="sku" [formControl]="myForm.controls['sku']">
      </label>
      <div *ngIf="!sku.valid" class="ui error message">SKU is invalid</div>
      <div *ngIf="sku.hasError('required')" class="ui error message">SKU is required</div>
      <div *ngIf="sku.hasError('invalidSku')" class="ui error message">SKU must begin with
        <span>123</span>
      </div>

      <div *ngIf="!myForm.valid" class="ui error message">Form is invalid</div>
      <button *ngIf="sku.valid" type="submit" class="ui button">Submit</button>
      <div *ngIf="storedSku">the current SKU value is: {{storedSku}}</div>
    </div>
  </div>
</form>