

<div class="container">
  <div class="cardWrapper">
    <div class="row">
      <div  *ngFor="let user of users" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 cardContainer">
        <div class="card">
          <div class="front">
            <h3 class="cardTitle">{{user.title}}</h3>
          </div>
          <div class="back">
            <div class="content">
              <h3 class="cardTitle">{{user.body}}</h3>
              <br/>
              <p id="happy"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>