
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form class="ui large form segment">
    <h3 class="ui header">Add a Link</h3>

    <div class="field">
      <label for="title">Title:</label>
      <input name="title" #newTitle>
    </div>
    <div class="field">
      <label for="link">Link:</label>
      <input name="link" #newLink>
    </div>
    <div class="submit">
      <button (click)="addArticle(newTitle, newLink)"> Submit link</button>
    </div>
  </form>
  <ngx-slick 
      class="slide-container" 
      #slickModal="slick-modal" 
      [config]="slideConfig"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <app-article 
          ngxSlickItem
          class="wrapper" 
          *ngFor="let article of articles" 
          [article]="article">
      </app-article>
  </ngx-slick>