
<div class="wrapper">
  <div class="login-page">
    <div class="form">
      <form class="add-article-form">
        <input type="text" placeholder="title" #newTitle/>
        <input type="text" placeholder="link" #newLink/>
        <button (click)="addArticle(newTitle, newLink)">Add Article</button>
      </form>
    </div>
  </div>
  <div class="article-slider">
    <h2 class="title"> article slider + votes </h2>
    <ngx-slick class="slide-container" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
      <app-article ngxSlickItem class="wrapper" *ngFor="let article of articles" [article]="article">
      </app-article>
    </ngx-slick>
  </div>
</div>
<h2 class="title">product list</h2>
<div class="inventory-app">
  <products-list [productList]="products" (onProductSelected)="productWasSelected($event)">
  </products-list>
</div>

<h2 class='title'> Forms </h2>
<app-demo-form-sku></app-demo-form-sku>
<user></user>